header{
    background-color: #24353F;
    min-height: 100vh;
    overflow: auto;

}
.rectangle{
    width: 55%;
    margin: auto;
    
    background-color: #24353F;
    box-shadow:  -5px 2px 50px -9px rgba(0, 0, 0, 1);
}
.login-buttom{
    width: 100%;
    background-color: #24353F;
    border: 1px solid #17A2B8;
    color: #17A2B8;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    transition: all 0.5s;
}
.login-buttom:hover{
    background-color: #17A2B8;
    color: white;
}
.input-control-h{
    background-color: transparent;
    border: 1px solid #B6B6B6;
    color: white;
}
header .inner{
    /* width: 90%; */
    padding: 60px 50px;
   margin-top: 50px;
   overflow: auto;
}
h1{
    color: #17A2B8;
    margin-bottom: 20px;
}

.sign-in-div h6{
    color: white;
    margin-bottom: 0px;
}
.sign-in-div a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 5px;
}
.sign-in-div a:hover{
    text-decoration:underline;
}
.form-control:focus{
    box-shadow: 0px 0px 0px transparent;
    border-color: #80BDFF;
    background-color: #24353F;
}
.input-control-h::placeholder{
    color: #B6B6B6
}
.erorr-msg , .notreg-msg{
    color: red;
    
}
.succ-msg{
    color: green;
}
input{
    color: white;
}

@media only screen and (max-width: 900px){
    .rectangle{
        width: 80%;
        /* height: 500px; */
    }
    .sign-in-div{
        flex-direction: column !important;
        justify-content: space-between !important;
    }
}